.grid {
  border: 1px solid black;
  height: 600px;
  width: 700px;
  display: flex;
  /* make sure snap round grid box */
  flex-wrap: wrap;
}

.grid div {
  height: 100px;
  width: 100px;
}

.player-one {
  background-color: red;
  border-radius: 50px;
}

.player-two {
  background-color: blue;
  border-radius: 50px;
}
